#myH1{
    color: mediumvioletred;
    background-color: thistle;
    font-size: medium;
    font-family: monospace;
    padding: 10px;
}

#para1{
    color: rgb(38, 36, 161);
    background-color: violet;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 10px;
    padding: 10px;
}

#para2{
    color: seagreen;
    font-family: monospace;
    background-color: yellow;
    padding: 10px;
}

#list1{
    color: rgb(14, 12, 11);
    background-color: yellowgreen;
    font-family: 'Segoe UI', Tahoma, Verdana, sans-serif;
    font-size: 10px;
    padding: 10px;
    padding-left: 20px;
}

.fancyBorderClass{
    border: 3px;
    border-style: dashed;
    border-color: tomato;
}

.fontClass{
    font-family: Arial, Helvetica, sans-serif;
    font-variant: small-caps;
    font-size: smaller;
}

#myH1:hover{
    background-color: teal;
    color: yellow;
}

